.bt {
    margin: 12px 12px;
    padding: 6px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid;
    text-decoration: none;
    transition: color .2s ease-in-out,background-color .2s ease-in-out, border-color .2s ease-in-out, box-shadow .2s ease-in-out;
}
.bt.success {
    color: #fff;
    width: initial;
    background-color: #307080;
    border-color: #4F809F;
}
.bt.success:hover {
    color: #307080;
    text-decoration: none;
    border-color: #4F809F;
    background-color: rgba(239, 220, 112, 0.25);
    /*background-color: #20608F;*/
}
.bt.danger {
    color: white;
    margin-right: 30px;
    margin-left: 30px;
    background-color: #971c2c;
    border-color: #de3a4b;
}
.bt.danger:hover {
    color: yellow;
    background-color: #de3a4b;
    border-color: #971c2c;
    text-decoration: none;
}
.bt:not(:disabled):not(.disabled) {
    cursor: pointer;
}
